@import url(https://fonts.googleapis.com/css?family=Pacifico);
$size:150px;
$bg:#CDE;

body{
  background-color: $bg !important;
}

h1#header{
  font-size: 62px;
  font-family: "Pacifico";
}

article{
  border-radius: 90px;
  position:relative;
  padding-left:$size + 30;
  padding-right: $size/2;
  height: $size;
  margin-bottom: 30px;
  background-color: #FFF;
  cursor:pointer;

  .img-wrapper{
    position: absolute;
    top:- 10px;
    left:-10px;
    background-color: $bg;
    padding:10px;
    z-index: 1000;

  }


  a{
    position:absolute;
    display:block;
    top: 0;
    left: 0;
    height: 100%;
    line-height: $size;
    text-align: center;
    width: 100%;
    background-color: #FFF;
    font-size: 48px;
    font-style:italic;
    opacity:0;
    color: #428bca !important;
    text-decoration: none !important;
  }
  &:hover{
    .img-wrapper{
      padding:5px;
      img{
        width: $size + 10;
      }
    }
    a{
      opacity:1;
    }
  }
}

.bloc{
  article{
    padding:10px;
    height: $size*1.5;
    margin-top: $size/2;

    .img-wrapper{
      position: relative;
      top:-($size+20)/2;
      width: $size+20;
      left:inherit;
      margin: auto;
      margin-bottom: -$size + 50;
    }

    h1{
      font-size: 14px;
      height: $size/4;
      line-height: $size/4;
    }

    p{
      font-size: 12px;
    }

    a{
      line-height: $size*1.5 +30;
    }
  }
}